.btn-more .row .btn {
    width: 51rem;
    height: 7rem;
    margin-left: 5rem;
}

.btn {
    @include font_700;
    font-size: 24px;
    background: rgb(20, 136, 231);
    border-radius: 10px;
} 

@media only screen and (max-width: 768px){
    .btn-more .row .btn {
        width: 3rem;
    }
}

@media only screen and (max-width: 992px){
    .btn-more .row .btn {
        width: 25rem;
    }
}